<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="layouts/base :: pageTitle">Criar Nova Instituição</title>
</head>
<body>
<div th:replace="layouts/base :: content">
    <h1>Criar Nova Instituição</h1>
    <form th:action="@{/institutions}" th:object="${institution}" method="post">
        <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" th:field="*{name}" placeholder="Nome da Instituição" required>
        </div>
        <div>
            <label for="contact">Contato:</label>
            <input type="text" id="contact" th:field="*{contact}" placeholder="Contato da Instituição" required>
        </div>
        <div>
            <label for="street">Rua:</label>
            <input type="text" id="street" th:field="*{address.street}" placeholder="Rua" required>
        </div>
        <div>
            <label for="city">Cidade:</label>
            <input type="text" id="city" th:field="*{address.city}" placeholder="Cidade" required>
        </div>
        <div>
            <label for="state">Estado:</label>
            <input type="text" id="state" th:field="*{address.state}" placeholder="Estado" required>
        </div>
        <div>
            <label for="country">País:</label>
            <input type="text" id="country" th:field="*{address.country}" placeholder="País" required>
        </div>
        <div>
            <label for="postalCode">CEP:</label>
            <input type="text" id="postalCode" th:field="*{address.postalCode}" placeholder="CEP" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a th:href="@{/institutions}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
</body>
</html>
