<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Instituições</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Instituições</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript">
        function confirmDeletion(event) {
            if (!confirm("Tem certeza que deseja excluir esta instituição?")) {
                event.preventDefault();
            }
        }
    </script>
</head>
<body>
<h1>Instituições</h1>
<a th:href="@{/institutions/create}" class="btn btn-primary">Nova Instituição</a>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th>Endereço</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="institution : ${institutions}">
        <td th:text="${institution.name}">Institution Name</td>
        <td th:text="${institution.contact}">Contact</td>
        <td th:text="${institution.address.fullAddress}">Full Address</td>
        <td>
            <a th:href="@{/institutions/edit/{id}(id=${institution.id})}">Editar</a> |
            <a th:href="@{/institutions/delete/{id}(id=${institution.id})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>