body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input, form h3, form .radio-group, form button {
    width: 100%;
    max-width: 400px;
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    align-items: start;
}

form button {
    margin-top: 20px;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

header img {
    max-width: 300px;
}

#navbar {
    background-color: #0044cc;
    overflow: hidden;
    margin-bottom: 20px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar li {
    display: inline-block;
    padding: 14px 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #003399;
    padding: 14px 20px;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: #333;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.table th {
    background-color: #0044cc;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

a.button {
    background-color: #0044cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    display: inline-block;
}

a.button:hover {
    background-color: #003399;
}

form .button {
    background-color: #c01d00;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 50%;
    display: inline-block;
}

form .button:hover {
    background-color: #a00000;
}

form .buttonBlue {
    background-color: #0044cc;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    display: inline-block;
}

form .buttonBlue:hover {
    background-color: #003399;
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

ul li a:hover {
    color: #0044cc;
}
