<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<header th:replace="fragments/navbar :: navbar"></header>
<main class="container">
    <h1>Sobre Nós</h1>
    <section>
        <p>Bem-vindo à Rede Segura, uma aplicação desenvolvida com o propósito de identificar e mitigar vulnerabilidades em sistemas críticos.</p>
        <p>Nosso projeto foi o vencedor do <strong>1º lugar</strong> no <strong>2º Hackathon do Programa Hackers do Bem</strong>, organizado pela RNP.</p>
        <p>O desafio era desenvolver uma solução inovadora para identificar vulnerabilidades em sistemas críticos. Em apenas dois dias intensos, nossa equipe desenvolveu um software eficiente e intuitivo, capaz de testar uma vasta gama de vulnerabilidades em redes e sistemas.</p>
        <p>A equipe composta por Matheus Vidal, Isabela Mendes, Marcos Antônio e Kauê Lustosa trabalhou incansavelmente para criar esta solução e juntos alcançamos o sucesso.</p>
    </section>
    <section>
        <h2>Documentos Relacionados</h2>
        <ul>
            <li><a href="https://github.com/matheusvidal21/RedeSegura" target="_blank">Solução: Rede Segura no GitHub</a></li>
            <li><a href="https://www.canva.com/design/DAGOJc9xyjQ/1fwCKY3JDpHgoSCO-T1GSw/view?mode=prototype" target="_blank">Protótipo no Canva</a></li>
            <li><a href="https://www.rnp.br/noticias/2o-hackathon-do-hackers-do-bem-reune-jovens-talentos-em-natal-rn-para-inovar-na" target="_blank">Sobre o Evento</a></li>
            <li><a th:href="@{/files/inicio_hackathon.pdf}" target="_blank">Hackathon - Início</a></li>
            <li><a th:href="@{/files/apresentacao_problema.pdf}" target="_blank">Apresentação do problema</a></li>
        </ul>
    </section>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
